:root {
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  --main-header-border-color: #e7e9fc;
  --main-header-link-active-focus-color: #404bbf;
  --main-background-color-light: #ffffff;
  --main-background-color-medium: #f4f4fd;
  --secondary-background-color-dark: #2e2f42;
  --main-text-color-light: #ffffff;
  --main-text-color-dark: #434455;
  --secondary-text-color-dark: #2e2f42;
  --main-button-background-color: #4d5ae5;
  --list-text-color: #f4f4fd;
  --button-seconday-background-color: #f4f4fd;
  --secondary-button-border-color: #e7e9fc;
  --paragraph-text-color: #434455;
  --main-header-logo-color: #4d5ae5;
  --seconday-header-logo-color: #2e2f42;
  --main-footer-logo-color: #4d5ae5;
  --secondary-footer-logo-color: #f4f4fd;
  --secondary-button-hover-text-color: #ffffff;
  --secondary-button-hover-background-color: #404bbf;
  --secondary-button-main-text-color: #4d5ae5;
  --portfolio-list-item-border-color: #e7e9fc;
  --main-customers-icon-color: #8e8f99;
  --main-social-icons-color: #f4f4fd;
  --main-icons-background-color: #4d5ae5;
  --footer-social-icons-focus-hover-color: #31d0aa;
  --main-social-icons-focus-hover-color: #404bbf;
  --main-modal-background-color: #fcfcfc;
  --modal-button-close-background-color: #e7e9fc;
  --curent-page-underline-color: #404bbf;
}

/* BASE STYLES */
body {
  font-family: var(--main-font);
  color: var(--main-text-color-dark);
  background-color: var(--main-background-color-light);
}

/* RESET STYLES */
.link {
  text-decoration: none;
  font-style: normal;
}

/* PATERN FOR HIDE H2 "FEATURES" ON THE INDEX PAGE */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  font-style: normal;
  display: flex;
  gap: 40px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.header {
  border-bottom: 1px solid var(--main-header-border-color);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header > .container {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.header-link {
  color: var(--secondary-text-color-dark);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
}

.header-link:focus,
.header-link:hover {
  color: var(--main-header-link-active-focus-color);
}

nav {
  display: flex;
  align-items: center;
  position: relative;
}

.address {
  font-style: normal;
  display: flex;
  align-items: center;
}

.address-link {
  color: var(--main-text-color-dark);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:focus,
.address-link:hover {
  color: var(--main-header-link-active-focus-color);
}

.hero {
  /* background-color: var(--secondary-background-color-dark); */
  color: var(--main-text-color-light);
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero-background-img.jpg");

  background-position: center;
  background-repeat: no-repeat;
  max-width: 1440px;
  margin: auto;
  background-size: cover;
}

.hero-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
  margin-bottom: 48px;
}

.overview-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.overview-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.overview-list-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}
.overview-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color-dark);
  margin-bottom: 8px;
}

.overview-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.feature-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  border-radius: 4px;
  background-color: var(--main-background-color-medium);
  margin-bottom: 8px;
}

.doing-section {
  padding-bottom: 120px;
}

.doing-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 0;
  margin-bottom: 0;
}

.doing-list-item {
  flex-basis: calc((100% - 48px) / 3);
}

.doing-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--secondary-text-color-dark);
  margin-bottom: 72px;
  margin-top: 0;
}

.team-section {
  background-color: var(--main-background-color-medium);
  padding-top: 120px;
  padding-bottom: 120px;
  max-width: 1440px;
  margin: auto;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color-dark);
  margin-bottom: 72px;
  margin-top: 0;
}

.team-list {
  background-color: var(--main-background-color-medium);
  gap: 24px;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}

.team-list-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--main-background-color-light);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-section-employee {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-background-color-dark);
  text-align: center;
  margin-bottom: 8px;
}

.team-list-text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-text-color-dark);
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.logo-header {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-header-logo-color);
  margin-right: 76px;
  font-family: var(--secondary-font);
}

.logo-hdr-black {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--seconday-header-logo-color);
}

.logo-ftr-white {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--secondary-footer-logo-color);
}

.btn-main {
  background-color: var(--main-button-background-color);
  color: var(--main-text-color-light);
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-secondary {
  background-color: var(--button-seconday-background-color);
  color: var(--secondary-button-main-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--secondary-button-border-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-main:focus,
.btn-main:hover {
  cursor: pointer;
  background-color: var(--secondary-button-hover-background-color);
}

.btn-secondary:focus,
.btn-secondary:hover {
  cursor: pointer;
  color: var(--secondary-button-hover-text-color);
  background-color: var(--secondary-button-hover-background-color);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.footer {
  background-color: var(--secondary-background-color-dark);
  color: var(--main-text-color-light);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-text {
  line-height: 1.5;
  color: var(--list-text-color);
  letter-spacing: 0.02em;
  max-width: 264px;
  margin-top: 0;
  margin-bottom: 0;
}

.logo-footer {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-footer-logo-color);
  display: inline-block;
  margin-bottom: 16px;
  font-family: var(--secondary-font);
}

/* Portfolio page */
.portfolio-main-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.portfolio-filters-list {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  gap: 24px;
}

.portfolio-features-list {
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-card-list-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-background-color-dark);
  margin-bottom: 8px;
  margin-top: 0;
}

.portfolio-card-list-text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--paragraph-text-color);
  letter-spacing: 0.02em;
  margin-bottom: 0;
  margin-top: 0;
}

.portfolio-feature-list-wrapper {
  padding: 32px 16px;
  border: 1px solid var(--portfolio-list-item-border-color);
  border-top: none;
}

.current {
  color: var(--curent-page-underline-color);
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 100%;
  background-color: var(--curent-page-underline-color);
  border-radius: 2px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-wrapper {
  margin-right: 120px;
}

.footer-social-links-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color-light);
}

.footer-social-links-list {
  gap: 16px;
}

.footer-social-links-list-item {
  width: 40px;
  height: 40px;
}

.footer-social-links-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--main-icons-background-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon-styles {
  fill: var(--main-social-icons-color);
}

.footer-social-links-icons:focus,
.footer-social-links-icons:hover {
  background-color: var(--footer-social-icons-focus-hover-color);
}

.customers-list-items {
  width: calc((100% - 120px) / 6);
}

.customers-section {
  padding-top: 120px;
  padding-bottom: 120px;
  margin: auto;
  max-width: 1440px;
}

.customers-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.11em;
  margin-bottom: 72px;
  color: var(--secondary-text-color-dark);
}

.customers-list {
  display: flex;
  gap: 24px;
}

.customers-list-item {
  border: 1px solid var(--main-customers-icon-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #8e8f99; /* PRAVIT!!! */
}

.customers-link {
  fill: currentColor;
}

.team-social-links {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-social-links-item {
  width: 40px;
  height: 40px;
}

.team-social-links-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-icons-background-color);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-icon-styles {
  fill: var(--main-social-icons-color);
}

.team-social-links-icons:focus,
.team-social-links-icons:hover {
  background-color: var(--main-social-icons-focus-hover-color);
}

.customers-list-items {
  height: 88px;
}

.customers-list-item:focus,
.customers-list-item:hover {
  border-color: var(--secondary-button-hover-background-color);
  color: var(--secondary-button-hover-background-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card-list-link:hover,
.portfolio-card-list-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-card-list-link {
  display: block;
}

.portfolio-list-item-owerlay {
  position: relative;
  overflow: hidden;
}

.portfolio-list-item-owerlay-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--list-text-color);
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card-list-link:hover .portfolio-list-item-owerlay-text,
.portfolio-card-list-link:focus .portfolio-list-item-owerlay-text {
  transform: translateY(0%);
}

/* Popup modal window */
.backdrop {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  /* resize backdrop to all view port variant_1 */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* resize backdrop to all view port variant_2 
  width: 100%;
  height: 100% */
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background: var(--main-modal-background-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-btn {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--modal-button-close-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  /* to hide modal from indexdation, user, readers until not called by User needs to be added visibility hidden */
  visibility: hidden;
}

.modal-btn:hover {
  fill: #ffffff;
  background-color: var(--secondary-button-hover-background-color);
  border: none;
}

.modal-btn:focus {
  fill: #ffffff;
  background-color: var(--secondary-button-hover-background-color);
  border: none;
}

.modal-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
